# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea/

# File-based project format:
*.ipr
*.iws

# Compiled file Linux
azkaban/azkaban

# Compiled file Windows
*.exe
*.exe~
*.test
*.prof